Package: channelz
Version: VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Blobfolio LLC <hello@blobfolio.com>
Homepage: https://github.com/Blobfolio/channelz
Installed-Size: SIZE
Description: Nothing but static...
 .
 Use ChannelZ to generate maximally-compressed Gzip- and Brotli-encoded copies
 of a file or recurse a directory to do it for many files at once.
